/* HEADER */
.menu {
  position: fixed;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 15px 0px rgb(0, 0, 0, 0.1);
  height: 120px;
  display: flex;
  align-items: center;
  z-index: 9999;
}
.menu nav {
  display: flex;
}
.menu nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  list-style: none;
  font-weight: bold;
  text-transform: uppercase;
}
.menu nav ul li {
  margin: 15px;
}
.menu nav ul li.btnplay {
  margin-right: 0;
}
.menu nav ul li.btnplay a {
  background: #2ec1ac;
  padding: 15px 25px;
  border-radius: 4px;
  color: #fff;
  border-bottom: none;
}
.menu nav ul li a:hover {
  border-bottom: 3px solid #2ec1ac;
}
.menu nav ul li.btnplay a:hover {
  background: #38a999;
  transition: 0.3s;
  border-bottom: 0;
}

/* HOME */
.apresentacao {
  padding-top: 150px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 15px;
}
.jogador img {
  box-shadow: 20px 20px #b91646;
  border-radius: 5px;
}

/* SOBRE */
.sobre {
  padding-top: 20px;
}
.sobredetalhes {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 15px;
}

/* MOEDA */
.moeda h1 {
  text-align: right;
}
.moedadetalhes {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 15px;
}
.linkplay {
  text-align: center;
  margin-top: 30px;
}
.btnoutlineplay {
  color: #2ec1ac;
  border: 2px solid #2ec1ac;
  padding: 15px 30px;
  border-radius: 4px;
  font-weight: bold;
}
.btnoutlineplay:hover {
  background: #2ec1ac;
  color: #fff;
  transition: 0.3s;
}

/* NEWS */
.cards {
  display: flex;
}
.noticiacard {
  width: 500px;
  height: 260px;
  box-shadow: 1px 1px 10px #cecece;
  padding: 20px;
}
.noticiacard:nth-child(1) {
  margin-right: 15px;
}
.noticiatitulo {
  font-weight: bold;
  margin-bottom: 10px;
}
.noticiabody {
  position: relative;
  height: calc(100% - 40px);
}
a.noticialink {
  position: absolute;
  color: #2ec1ac;
  display: block;
  bottom: 0;
  right: 0;
}
.noticiavermais {
  text-align: center;
  margin: 40px 0 50px;
}
.noticiavermais a {
  background: #2ec1ac;
  padding: 15px 25px;
  border-radius: 4px;
  color: #fff;
}
.noticiavermais a:hover {
  background: #38a999;
  transition: 0.3s;
}

/* GAME */
.game {
  height: calc(100vh - 120px);
  background: #cecece;
}

/* FOOTER */
.footer {
  background: #b91646;
  height: 330px;
  text-align: center;
}
.redessociais {
  display: flex;
  padding: 60px;
  justify-content: center;
}
.redessociais img {
  margin: 0 5px;
}
.footer p.copy {
  margin-top: 20px;
  color: #fff;
  opacity: 0.8;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
